            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            
            * {
                box-sizing: border-box;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: .6px;
                text-decoration: none;
                scroll-behavior: smooth;
            }
            
            body {
                padding: 0;
                margin: 0;
            }
            
            .body-home {
                background-image: url("image-assets/livenice.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            .body-about {
                background-image: url("image-assets/background.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            .body-listen {
                background-image: url("image-assets/cds.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            .body-gigs {
                background-image: url("image-assets/39930153_740492089630294_4368356845295763456_n.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            .body-contact {
                background-image: url("image-assets/backview.jpg");
                background-repeat: no-repeat;
                background-size: 100%;
                background-attachment: fixed;
                background-position: center;
            }
            
            @media screen and (max-width: 768px) {
                .body {
                    background-image: url(image-assets/picture1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center;
                    width: 100%;
                }
                .body-listen {
                    background-image: url("image-assets/cds.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: left top;
                }
            }
            
            a {
                color: #ECFAEC;
            }
            /* Navbar */
            
            .navbar {
                background-color: rgba(20, 43, 60, 0.8);
                height: 130px;
                width: 100%;
                border-bottom-left-radius: 25%;
                border-bottom-right-radius: 25%;
                position: fixed;
                z-index: 1;
            }
            
            @media screen and (max-width: 768px) {
                .navbar {
                    background-color: rgba(20, 32, 20, 0.6);
                    height: 50px;
                    width: 100vw;
                    border-bottom-left-radius: 25%;
                    border-bottom-right-radius: 25%;
                    position: fixed;
                    z-index: 1;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
            
            .navbar-item-wrapper {
                width: 70%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 30px auto;
            }
            
            nav a,
            p {
                color: #ECFAEC;
                font-size: 1.5rem;
            }
            
            @media screen and (max-width: 960px) {
                nav a,
                p {
                    color: #ECFAEC;
                    font-size: 0.8rem;
                }
            }
            
            @media screen and (max-width: 350px) {
                nav a,
                p {
                    font-size: 0.5rem;
                }
            }
            
            nav a:hover {
                color: #EDBCED;
            }
            
            .navbar-divider {
                color: rgb(161, 161, 161);
            }
            /* Home area */
            
            .home-container {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;
                top: 130px;
                height: 40vh;
                width: 80%;
            }
            
            .home {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            
            .title {
                font-family: 'Berkshire Swash', cursive;
                font-weight: lighter;
                color: rgb(223, 223, 223);
                font-size: 4rem;
            }
            
            @media screen and (max-width: 768px) {
                .home-container {
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                    top: 50px;
                }
                .title {
                    text-align: center;
                }
            }
            
            #home-icon {
                font-size: 6rem;
            }
            /* About */
            
            .about-container {
                position: relative;
                top: 130px;
                width: 90vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            
            .about {
                width: 50%;
                background-color: rgba(20, 43, 60, 0.63);
                border-radius: 25px;
                padding: 25px;
                margin-top: 80px;
            }
            
            .about-para {
                font-size: 1.3rem;
            }
            
            @media screen and (max-width: 768px) {
                .about-container {
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                    top: 50px;
                }
                .about {
                    width: 100%;
                    margin: 20px;
                }
            }
            
            .about-para-members {
                text-align: center;
            }
            /* Gig list */
            
            .gig-list-container {
                position: relative;
                top: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 80vh;
            }
            
            .gig-list {
                background-color: rgba(20, 43, 60, 0.63);
                text-align: center;
                border-radius: 50px;
                font-size: 8rem;
                color: #ECFAEC;
                padding: 0px 50px;
            }
            
            .gig-list h3 {
                font-size: 3rem;
            }
            
            .gig-list-list {
                margin-top: 50px;
                padding: 20px;
            }
            
            @media screen and (max-width: 768px) {
                .gig-list-container {
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                    top: 50px;
                }
                .gig-list {
                    margin: 20px;
                    padding: 10px;
                }
            }
            /*Listen & Contact */
            
            .link-items-container {
                position: relative;
                top: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80vh;
            }
            
            .link-items {
                background-color: rgba(20, 43, 60, 0.63);
                text-align: center;
                border-radius: 50px;
                font-size: 8rem;
                color: #ECFAEC;
            }
            
            @media screen and (max-width: 768px) {
                .link-items-container {
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                    top: 50px;
                }
                .link-items {
                    margin: 20px;
                }
            }
            
            #icon-item {
                padding: 70px;
            }
            /* Contact */
            
            .contact-container {
                height: 50vh;
            }
            
            @media screen and (max-width: 768px) {
                .contact-container {
                    width: 100%;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                    top: 50px;
                }
            }
